aniso8601==3.0.0
click==6.7
cycler==0.10.0
Cython==0.28
fbprophet==0.2.1
Flask==0.12.2
Flask-RESTful==0.3.6
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.0
numpy==1.14.2
pandas==0.22.0
pyparsing==2.2.0
pystan==2.17.1.0
python-dateutil==2.7.0
pytz==2018.3
six==1.11.0
Werkzeug==0.14.1
